header {
    background-color: rgb(23, 22, 22);
    position: fixed;
    display: flex;
    height: 50px;
    width: 100%;
    top: 0;
    margin-bottom: 50px;
}

    header a {
        background-repeat: no-repeat;
        background-color: palevioletred;
        padding: 5px;
        border-radius: 5px;
        margin: 10px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Set footer */
footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 50px;
    color: #ffffff;
    background-color: #1c2128dd;
}

    footer h4 {
        padding: 5px 0px;
        border-bottom: 3.5px solid #fffefe;
        animation: animation_fh4 2s linear infinite;
    }

@keyframes animation_fh4 {
    0% {
        border-bottom: 3.5px solid #f1d3f6;
    }

    50% {
        border-bottom: 3.5px solid #ebfffc;
    }

    100% {
        border-bottom: 3.5px solid #b5f6f8;
    }
}

footer ul li {
    padding: 5px 0px;
}

/* Set icon footer */
.footer_contact ul li {
    padding: 15px 0px;
    display: inline-block;
}

footer i {
    color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: rgba(80, 72, 72, 0.6);
    transition: all 0.4s;
}

    footer i:hover {
        color: rgba(80, 72, 72, 0.6);
        padding: 7px;
        margin-bottom: 5px;
        border-radius: 50%;
        background-color: #ffffff;
    }